@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Noto Sans JP';
    font-weight: 200;
    margin: 0;
}

header{
    background-image: linear-gradient(rgba(27, 27, 27, 0.299), rgba(27, 27, 27, 0.75)), url(webART/resl.png);

}

.nav .nav-link{
    height: 53px;
    padding-top: 10em;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 237;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.12em;

    color: #FF7A7A;
}
.nav .nav-link:hover{
    color: white;
}

.child-1{

    padding: 1em 0 5em 0;
    width: auto;
    flex-shrink: 1;

}
.child-1 #big{
    padding-bottom: 1em;
    width: 656px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 3.5em;

    line-height: 130px;

    color: #D5C4F7;
}


/*main*/
main{
    z-index: 1;
    background: #262C38;
    backdrop-filter: blur(2px);
    padding: 2em;

    color: #D5C4F7;
}

.contain{
    margin: 10em;
}

.parent-text{
    margin-top: 5em;
}
.parent-text .head-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;

    color: #FF7A7A;
}

.text-main{
    width:810px;
}
.text-main .txt{
    font-family: 'josefin sans';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.10em;

    color: antiquewhite;
}


.gallery-scroll .item-1{
    display: flex;
}



.fa-solid{
    padding-left: 15px;
    font-size: 1.5em;
    color: #d74444;
}





/*footer*/
footer{
    background: no-repeat;
    background-image: linear-gradient(rgba(50, 7, 19, 0.813), rgba(50, 7, 19, 0.813)), url(webART/n-ft.jpg);
}



.parent-footer{
    display: flex;
}

.parent-footer .hero-f{

    align-items: center;
    justify-content: center;
    justify-items: center;

    flex-grow: 1;
}
.hero-f h1{
    border-left: 2px solid rgb(255, 243, 243);
    margin: 20px;
    padding: 10px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 6vmin;

  

    color: #D5C4F7;
}

.form{

    align-items: center;

    flex-grow: 1;
}
.form h5{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 3vmin;


    line-height: 100px;

    color: #D5C4F7;
}
.fa-brands {
    padding-left: 15px;
    font-size: 2em;
    color: #d74444;

    transition: 1s;
}
.fa-brands:hover{
    color: #FF7A7A;

    -webkit-border-radius: 100px;
    border-radius: 100px;

    -webkit-box-shadow: 5px 5px 55px #5e444a, -5px -5px 55px #d298a4;
    box-shadow: 5px 5px 55px #5e444a, -5px -5px 55px #d298a4;
    
    animation: bounce; 
    animation-duration: 1.5s;
}